.root{
    display: flex;
    justify-content: space-between;
    margin: 1pt;
    align-items: center;
    margin: 20px;
}
.iconContainer{ 
}
.button{ 
    background: #2d84cc; 
    color: #fff; 
    border: 1px solid #1f6fb1; 
    border-radius: 5px; 
    margin: 0 1em; 
    padding: 0.5em 0.75em;
    transition: all 300ms ease-in-out;
}
.button:hover{
    background:rgb(50, 166, 201)
}
.username{ 
    color: #666;
    font-weight: 600;
}
.avatar{
    border-radius: 50%;
    width: 90px;
    height: 90px;
}