@import url('https://fonts.googleapis.com/css2?family=Montserrat');

.header{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d84cc;
    color: #ffffff;
}

.logo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}