.message{
    padding: 15px;
    border: 2px solid rgba(66,66,66,0.6);
    border-radius: 4px;
    margin: 20px;
    box-sizing: border-box;
    box-shadow: 3px 3px 7px rgba(66,66,66,0.3);
}

.avatar{
    margin-bottom: 7px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}
.avatarImg{ max-width: 34px; max-height: 34px; border-radius: 50%;}
.publishDate{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 7px;
}
.user{ color: #4580ca; margin: 7px; font-size: 0.9em;}
.text{ color:#424242;}

.buttons{ 
    margin: 10px auto;
    display: flex;
    width: 100%;
}
.icon{
    width: 20px;
    height: 20px;
    color: #a5a5a5;
    margin-right: 5px;
}